/application/helpers/mpdf/
system/config/database.php
*/logs/log-*.php
*/logs/!index.html
*/cache/*
*/cache/!index.html
application/config/database.php
application/config/config.php
bower_components/
node_modules/
assets/style/dist/
themes/sqm/css/main.css
application/modules_core/mcb_menu/config/mcb_menu.php
themes/mcb/css/main.css
